body {
  height: 100vh;
}

#root {
  height: 100%;
  position: relative;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center {
  text-align: center;
}
